@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1457762957_2126236.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1457762957_2126236.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1457762957_2126236.woff") format("woff"), url("//at.alicdn.com/t/font_1457762957_2126236.ttf") format("truetype"), url("//at.alicdn.com/t/font_1457762957_2126236.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.clear {
  clear: both; }

.info_panel {
  width: 400px;
  background-color: white;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  float: left;
  overflow: hidden; }
  .info_panel div.poster {
    width: 100%;
    height: 200px;
    background-size: cover; }
  .info_panel section {
    /*width: 100%;*/
    padding: 20px 0;
    border-top: dashed 1px rgba(0, 0, 0, 0.3); }
    .info_panel section div.title {
      padding: 0 20px;
      /*padding-right: 20px;*/
      background-color: #039BE5;
      background-image: -webkit-linear-gradient(90deg, #0383c2, #039BE5);
      background-image: linear-gradient(90deg, #0383c2, #039BE5);
      font-family: sans-serif;
      font-size: 26px;
      color: white;
      line-height: 53px;
      float: left;
      /*margin-left: -20px;*/
      /*position: relative;*/
      /*left: -20px;*/
      position: relative;
      /*overflow-y:hidden;*/ }
      .info_panel section div.title::after {
        border: 26.5px solid transparent;
        border-left: 21.2px solid #039BE5;
        width: 0;
        height: 0;
        position: absolute;
        content: ' ';
        margin-left: 20px; }
    .info_panel section ul.info {
      width: 100%;
      margin-top: 73px;
      list-style-type: none;
      padding-left: 20px;
      margin-bottom: 0; }
      .info_panel section ul.info li {
        line-height: 25px;
        font-family: sans-serif;
        font-size: 14px;
        color: #333; }
        .info_panel section ul.info li .define {
          display: block;
          width: 25%;
          float: left; }
        .info_panel section ul.info li .descrip {
          display: block;
          width: 70%;
          margin-left: 30%; }
    .info_panel section .section_title {
      background-color: #039be5;
      background-image: -webkit-linear-gradient(130deg, #039BE5, #38bcfc);
      background-image: linear-gradient(130deg, #039BE5, #38bcfc);
      padding-left: 20px;
      font-family: sans-serif;
      font-size: 17px;
      color: white;
      line-height: 30px;
      margin-top: -20px;
      width: auto; }
    .info_panel section p {
      padding: 0 20px;
      margin: 20px 0 0 0; }

#app .info_panel section div.title {
  padding: 0 10px; }
  #app .info_panel section div.title::after {
    margin-left: 10px; }

#app .info_panel section ul.info {
  padding-left: 10px; }

#app .info_panel section .section_title {
  padding-left: 10px; }

#app .info_panel section p {
  padding: 0 10px; }
